---
import Layout from "../layouts/Layout.astro";
import { NAME, SITE_DESCRIPTION } from "~/config/config";
import Header from "~/components/nav/Header.astro";
import Hero from "~/components/Hero.astro";
---

<Layout description={SITE_DESCRIPTION} title={NAME}>
	<Header />
	<Hero />
	<main
		class="relative grid px-4 pb-16 mx-auto mt-16 -mb-16 overflow-hidden sm:mt-40 sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8"
	>
	</main>
</Layout>
