---
import Icon from "astro-icon";

const workTechnologies = [
  {
    icon: "htmlIcon",
    iconText: "htmlText",
    hideIcon: "",
  },
  {
    icon: "sass",
    iconText: "sassText",
    hideIcon: "",
    hideIconText: "",
  },
  {
    icon: "tailwind",
    iconText: "tailwindText",
    hideIcon: "",
  },
  {
    icon: "react",
    iconText: "reactText",
    hideIcon: "",
    hideIconText: "",
  },
  {
    icon: "nextjs",
    iconText: "nextjs",
    hideIcon: "hidden",
    hideIconText: "",
  },
  {
    icon: "gatsby",
    iconText: "gatsbyText",
    hideIcon: "",
    hideIconText: "",
  },
  {
    icon: "mongoDB",
    iconText: "mongoDBText",
    hideIcon: "",
    hideIconText: "",
  },
  {
    icon: "vercel",
    iconText: "vercel",
    hideIcon: "hidden",
    hideIconText: "",
  },
  {
    icon: "netlify",
    iconText: "netlifyText",
    hideIcon: "",
    hideIconText: "",
  },
];
---

<section id="about">
  <div
    class="mx-auto px-4 py-16 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8 lg:py-20"
  >
    <div class="mb-10 max-w-screen-lg text-white md:mx-auto md:mb-12">
      <h2 class="mb-6 text-3xl sm:text-5xl md:mx-auto">About</h2>
      <p class="text-base font-normal tracking-tight md:text-xl">
        Hello! My name is Admir and I enjoy creating things that live on the
        internet. My interest in web development started back in 2016 when I
        decided to try coding as a hobby — turns out making a variety of static
        websites taught me a lot about HTML & CSS!
      </p>

      <div class="mt-10  sm:mx-auto lg:mt-32 ">
        <!-- technologies -->
        <div class="flex flex-col">
          <div class="mb-10 text-base">
            Here are a few technologies <br /> I’ve been working with recently:
          </div>

          <div
            class="grid grid-cols-1 gap-x-4 sm:grid-cols-2 sm:gap-x-6 md:grid-cols-3"
          >
            {
              workTechnologies.map(
                ({ icon, hideIcon, iconText, hideIconText }) => (
                  <div class="flex flex-row items-center border-l border-white/10 p-4 text-white/70 transition-colors duration-300 hover:border-brand sm:p-6">
                    <Icon name={icon} class={`mr-3 h-12 w-12 ${hideIcon}`} />
                    <Icon name={iconText} class={`h-28 w-28 ${hideIconText}`} />
                  </div>
                )
              )
            }
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
