---
---

<section>
  <div
    class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
  >
    <div class="mb-10 text-white md:mb-12">
      <h2 class="mb-6 text-3xl sm:text-5xl">Let’s Talk</h2>
      <a
        href="mailto:admirgorenca@gmail.com"
        rel="noopener noreferrer"
        target="_blank"
        class="text-base underline underline-offset-4 md:underline-offset-8 tracking-tight hover:text-brandLight transition-all duration-500 md:text-xl"
      >
        See if I’d be a good fit for your team/work/project
      </a>
    </div>
  </div>
</section>
