---
---

<section>
  <div
    class="mx-auto px-4 py-16 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8 lg:py-20"
  >
    <div class="mb-10 text-white md:mb-12">
      <h2 class="mb-6 text-3xl sm:text-5xl">Let’s Talk</h2>
      <a
        href="mailto:admirgorenca@gmail.com"
        rel="noopener noreferrer"
        target="_blank"
        class="text-base tracking-tight underline underline-offset-4 transition-all duration-500 hover:text-brandLight md:text-xl md:underline-offset-8"
      >
        See if I’d be a good fit for your /work/team/project
      </a>
    </div>
  </div>
</section>
