---
import bg from "~/assets/h.jpg";
---

<header class="relative flex flex-col items-center min-h-screen justify-evenly">
    <img
        sizes="(min width: 500px) 480w, 650w, 800w, 1300w"
        srcset={bg}
        class="absolute object-cover object-center w-full h-full -z-20"
        src={bg}
        aria-hidden="true"
    />
    <h1></h1>
    <a href=""></a>
</header>
