---
import Icon from "astro-icon";
---

<div
  class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
>
  <a href="/portfolio">
    <div
      class="px-8 rounded shadow-xl py-6 pb-8 group sm:px-16 bg-brand transition-all duration-700 hover:bg-white"
    >
      <div class="flex flex-col">
        <h2 class="font-sans text-2xl font-medium text-bkg sm:leading-none">
          See my latest work
        </h2>
        <span
          aria-label=""
          class="inline-flex mt-7 text-white items-center font-semibold transition-all duration-700 group-hover:text-brand group-hover:translate-x-6 group-hover:transition-all group-hover:duration-700"
        >
          <Icon name="cil:arrow-right" class="h-12 w-12" />
        </span>
      </div>
    </div>
  </a>
</div>
