---
import Icon from "astro-icon";
---

<div
  class="mx-auto px-4 py-16 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8 lg:py-20"
>
  <a href="/portfolio">
    <div
      class="group rounded bg-brand px-8 py-6 pb-8 shadow-xl transition-all duration-700 hover:bg-white sm:px-16"
    >
      <div class="flex flex-col">
        <h2 class="font-sans text-2xl font-medium text-bkg sm:leading-none">
          See my latest work
        </h2>
        <span
          aria-label=""
          class="mt-7 inline-flex items-center font-semibold text-white transition-all duration-700 group-hover:translate-x-6 group-hover:text-brand group-hover:transition-all group-hover:duration-700"
        >
          <Icon name="cil:arrow-right" class="h-12 w-12" />
        </span>
      </div>
    </div>
  </a>
</div>
