---
export interface Props {
  title?: string;
  subTitle?: string;
}
const { title, subTitle } = Astro.props as Props;
---

<div
  class="mx-auto px-4 py-16 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8 lg:py-20"
>
  <div class="max-w-screen-lg text-brand md:mx-auto">
    <h2 class="mb-6 text-3xl capitalize md:mx-auto md:text-9xl">{title}</h2>
    <p class="text-base tracking-tight md:text-xl">
      {subTitle}
    </p>
    <slot />
  </div>
</div>
