---
export interface Props {
  title: string;
  subTitle: string;
}
const { title, subTitle } = Astro.props as Props;
---

<div
  class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
>
  <div class="max-w-screen-lg text-brand md:mx-auto">
    <h2 class="mb-6 text-3xl md:text-9xl md:mx-auto capitalize">{title}</h2>
    <p class="text-base tracking-tight md:text-xl">
      {subTitle}
    </p>
    <slot />
  </div>
</div>
